* {
    box-sizing: border-box;
}

.allCountriesBtnClass:hover{
    cursor: pointer;
}

.countrySearchBtnClass{
    cursor: pointer;
}

.mainSectionClass{
    display: flex;
    justify-content: space-around;
}

.countryName, .countryFlag:hover {
    cursor: pointer;
}